baseURL = "https://endikau.dsjlu.wirtschaft.uni-giessen.de"
title = "EnDiKaU"
theme = "endikau_theme"

ignoreFiles = [ "\\.qmd$", "\\.ipynb$", "\\.py$" ]
publishDir = "../public"

defaultContentLanguage = "de"
defaultContentLanguageInSubdir = false

[languages]
    [languages.de]
        disabled = false
        languageCode = "de-DE"
        languageDirection = "ltr"
        languageName = "Deutsch"

[menu]
    [[menu.main]]
        weight = 1
        identifier = "basics"
        name = "Grundlagen"
        pre = "fa-solid fa-water"
        url = "/basics/"

    [[menu.main]]
        weight = 2
        identifier = "methods"
        name = "Methoden"
        pre = "fa-solid fa-calculator"
        url = "/methods/"

    [[menu.main]]
        weight = 1
        identifier = "sentiment"
        parent = "methods"
        name = "Sentimentanalyse"
        url = "/methods/sentiment/"

    [[menu.main]]
        weight = 2
        identifier = "topic"
        parent = "methods"
        name = "Themenmodellierung"
        url = "/methods/topic/"

    [[menu.main]]
        weight = 3
        identifier = "case_studies"
        name = "Fallstudien"
        pre = "fa-solid fa-earth-americas"
        url = "/case_studies/"

    [[menu.main]]
        weight = 1
        identifier = "case_study-1"
        parent = "case_studies"
        name = "Fallstudie I"
        url = "/case_studies/case_study-1/"

    [[menu.main]]
        weight = 2
        identifier = "case_study-2"
        parent = "case_studies"
        name = "Fallstudie II"
        url = "/case_studies/case_study-2/"

[markup]
    [markup.goldmark]
        [markup.goldmark.renderer]
            unsafe = true

    [markup.tableOfContents]
        startLevel = 2
        endLevel = 4
        ordered = false


