/.quarto/
**/.ipynb_checkpoints/
condaenv/
renv/
.Rproj.user
.Renviron
hugo/resources/_gen/
_freeze/
.Rhistory
hugo/content/
content/**/*.md
public/
public_serve/
content/**/*_cache/
content/**/index.markdown_strict_files/
content/**/index_files/libs/
**/*.quarto_ipynb
content/**/index_files/figure-html/
