<div class="container-fluid" style="background: var(--nd-navbar-bg) !important; color: var(--nd-navbar-color) !important">
    <div class="container-xxl py-2">
        <div class="d-flex justify-content-center align-middle flex-wrap">
            <div class="p-4 align-self-center">
                <img src="/assets/img/JLU_Giessen-Logo.png" width="200px">
            </div>
            <div class="p-4 align-self-center">
                <img src="/assets/img/Hessen-Logo-grau.png" width="100px">
            </div>
        </div>
    </div>
    Copyright {{ now.Year }}. All rights reserved.
</div>

