<div id="page-navbar-container">
    <nav class="navbar navbar-expand-md py-0 align-middle" id="page-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">EnDiKaU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-3" href="{{ .URL }}" id="navbarDropdown{{ .Name }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ if .Pre }}
                            {{ $icon := printf "<i class=\"%s\"></i> " .Pre | safeHTML }}
                            {{ $icon }}
                            {{ end }}
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ .Name }}">
                            {{ range .Children }}
                            <li>
                                <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li class="nav-item">
                        <a class="nav-link px-3" href="{{ .URL }}" role="button">
                            {{ if .Pre }}
                            {{ $icon := printf "<i class=\"%s\"></i> " .Pre | safeHTML }}
                            {{ $icon }}
                            {{ end }}
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-navbar-spacer"></div>
</div>