{{ define "main" }}

<div class="container-fluid" style="background: #e9ebe5 !important;">
  <div class="container-xxl py-4 grid">
    <div class="g-col-1 g-col-xl-3 text-end" style="font-size: 3.75rem;">
      {{ .Params.figtitle | safeHTML }}
    </div>
    <div class="g-col-11 g-col-xl-6">
      <h1>{{ .Title }}</h1>
      <span class="lead">
        {{ if .Params.subtitle }}
          {{ .Params.subtitle }}
        {{ end }}
      </span>
    </div>
  </div>
</div>

<div class="container-fluid" style="background: var(--bs-body-bg)" tabindex="0" data-bs-spy="scroll" data-bs-target="#page-toc" data-bs-smooth-scroll="true">
  <div class="container-xxl py-4 grid">
    <div class="g-col-12 g-col-xl-3 order-xl-2 ms-xl-2">
      {{ if .Params.toc_show }}
        {{ partial "toc.html" . }}
      {{ end }}
    </div>
    <div class="g-col-12 g-col-xl-6 g-start-xl-4 order-xl-1 nd-article">
      {{ .Content | $.Page.RenderString | replaceRE `<p>\s*</p>` "" | safeHTML }}
    </div>
  </div>
</div>

{{ end }}
