.body {
  background-color: #e9ebe5;
}

.main {
  background-color: var(--bs-body-color);
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 700;
    font-family: "Source Serif 4";
    color: var(--nd-navbar-bg);
  }
}

// .content-sec{

//   margin-bottom: 1rem;
//   p {
//     padding: 0;
//     margin-top: 0;
//     margin-left: 0 ;
//     margin-right: 0.5em ;
//     margin-bottom: 0;
//     text-align: justify;
//     &:not(:first-of-type) {
//       text-indent: 1.5em;
//     }
//   }
//   word-break:break-word;
//   -webkit-hyphens: auto;
//   -moz-hyphens: auto;
//   -ms-hyphens: auto;
//   -o-hyphens: auto;
//   hyphens: auto;

//   // MOVE
//   @for $i from 1 through 6 { h#{$i} {
//     color: var(--endikau-blue);
//   } }


// }

.hyphenated {
  word-break:break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}


code {
  font-size: 1em;
}

// a {
//   hyphens: none;
//   overflow-wrap: break-word;
//   word-break: break-word;
// }

// a {
//   // display: inline-block;         /* Ensures wrapping behavior */
//   hyphens: none;
//   overflow-wrap: break-word;
//   word-break: break-word;
//   white-space: normal;           /* Allow wrapping */
// }

.nd-article {

  p {
    padding: 0;
    margin: 0;
    text-align: justify;
    text-justify: auto;
    &:not(:empty) + p {
      text-indent: 1.5em;
    }
  }

  @extend .hyphenated;

  // MOVE
  @for $i from 1 through 6 { h#{$i} {
    color: var(--endikau-blue);
  } }

  p:not(:has(+ p, + ul, )) {
    padding-bottom: 1.5rem;
  }

}

.dropcap{
  font-size: 300%;
  padding: 0px 0px;
  margin-top: 0;
  margin-right: 6px;
  float: left;
}


.bubble {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  padding: 0 0.5rem;
  border-radius: 0;
  &:empty { display: none; }
}
.sen-pos-max{background: #009392;}
.sen-pos-med{background: #39b185;}
.sen-pos-min{background: #9ccb86;}
.sen-neu{background: #e9e29c;}
.sen-neg-min{background: #eeb479;}
.sen-neg-med{background: #e88471;}
.sen-neg-max{background: #cf597e;}
.sen-miss{color: #bababa}


img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  pointer-events: none;
}
