{{ define "main" }}
<div class="container-xxl mt-4 mb-4">
  <div class="grid">
    <div class="g-col-12 g-col-md-4">
      <div class="d-flex justify-content-center justify-content-md-end">
        <img src="/assets/vendor/twemoji/svg/1f573.svg" style="max-width:100px;"/>
      </div>
    </div>
    <div class="g-col-12 g-col-md-8">
      <h1>Diese Seite existiert nicht</h1>
      <p>
        <a href="{{ .Site.Home.RelPermalink }}">Zurück zur Startseite</a>
      </p>
    </div>
  </div>
</div>
{{ end }}